<div class="app-component">
  <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
    <dl>
      <mat-form-field appearance="fill">
        <mat-label>タイトル</mat-label>
        <input matInput formControlName="title">
        <div *ngIf="titleForm.invalid && (titleForm.dirty || titleForm.touched)">
          <div *ngIf="titleForm.errors?.['required']">
            タイトルが入力されていません。
          </div>
        </div>
      </mat-form-field>
    </dl>
    <dl>
      <mat-form-field appearance="fill">
        <mat-label>本文</mat-label>
        <input matInput formControlName="body">
        <div *ngIf="bodyForm.invalid && (bodyForm.dirty || bodyForm.touched)">
          <div *ngIf="bodyForm.errors?.['required']">
            本文が入力されていません。
          </div>
        </div>
      </mat-form-field>
    </dl>
    <dl>
      <mat-form-field appearance="fill">
        <mat-label>カテゴリ</mat-label>
        <mat-select formControlName="categoryId">
          <mat-option *ngFor="let category of categoryList" [value]="category.id">
            {{ category.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </dl>
    <dl>
      <mat-form-field appearance="fill">
        <mat-label>ステータス</mat-label>
        <mat-select formControlName="state">
          <mat-option *ngFor="let state of stateList" [value]="state.code">
            {{ state.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </dl>
    <button mat-raised-button color="accent" type="submit" [disabled]="!todoForm.valid">登録</button>
  </form>
</div>
