#todo-item {
  margin: 20px auto;
  padding: 20px;
  width: 700px;
}

.edit {
  margin-right: 15px;
  margin-left: auto;
}

.category {
  font-size: 12px;
  font-weight: bold;
  width: 100px;
  color: white;
  text-align: center;
  padding: 5px;
  margin-left: auto;
}
