/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-component {
  padding: 10px 30px;
}

.boxContainer {
  display: flex;
}

.pointer {
  cursor: pointer;
}

.list-item {
  margin: 0 auto;
}

.item {
  margin: 20px auto;
  padding: 20px;
  width: 700px;
}

.category-item, .category-item > .mat-card-subtitle {
  color: floralwhite;
}

.edit {
  margin-right: 15px;
  margin-left: auto;
}

.category-red {
  background-color: #e60012;
}

.category-blue {
  background-color: #009bbf;
}

.category-green {
  background-color: #009944;
}

.category-yellow {
  background-color: #d7c447;
}

.category-pink {
  background-color: #e85298;
}

.category-undefined {
  background-color: black;
}

